<%- include('includes/head.ejs') %>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->

    <%- include('includes/aside.ejs') %>

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

      <%- include('includes/navbar.ejs') %>

      <!-- Search Small Screens -->
      <div class="navbar-search-wrapper search-input-wrapper d-none">
        <input type="text" class="form-control search-input container-xxl border-0" placeholder="Search..." aria-label="Search..." />
        <i class="ri-close-fill search-toggler cursor-pointer"></i>
      </div>
      </nav>

      <!-- / Navbar -->

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl d-flex justify-content-center align-items-center flex-grow-0 container-p-y">
          <div class="row ">
            <div class="col-md-8">
              <div class="card mb-6">
                <div class="card-body demo-vertical-spacing demo-only-element">
                  <form action="/edit-product/<%= product.nomor_order%>" id="edit-product-<%= product.nomor_order %>" method="POST" class="row g-3">
                    <div class="col-md-6">
                      <div class="form-floating form-floating-outline mb-6 mb-3">
                        <input type="text" class="form-control" id="noOrder" name="nomor_order" placeholder="1212" value="<%= product.nomor_order %>" <% if (userRole !== 'office') { %> readonly <% } %> required>
                        <label for="noOrder">No. Order</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating form-floating-outline mb-6 mb-3">
                        <input type="number" class="form-control" id="quantity" name="quantity" placeholder="120" value="<%= product.quantity %>" <% if (userRole !== 'office') { %> readonly <% } %> required>
                        <label for="quantity">Quantity</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating form-floating-outline mb-6 mb-3">
                        <input type="text" class="form-control" id="namaBarang" name="nama_barang" placeholder="Barang Produksi" value="<%= product.nama_barang %>" <% if (userRole !== 'office') { %> readonly <% } %> required>
                        <label for="namaBarang">Nama Barang</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating form-floating-outline mb-6 mb-3">
                        <input type="number" class="form-control" id="size" name="size" placeholder="50" value="<%= product.size %>" <% if (userRole !== 'office') { %> readonly <% } %> required>
                        <label for="size">Size</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="tutup">Tutup</label>
                        <select class="form-select" id="tutup" name="tutup" required>
                          <option value="1" <%= product.tutup === 1 ? 'selected' : '' %>>On Process</option>
                          <option value="2" <%= product.tutup === 2 ? 'selected' : '' %>>Delayed</option>
                          <option value="3" <%= product.tutup === 3 ? 'selected' : '' %>>Finished</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="body">Body</label>
                        <select class="form-select" id="body" name="body" required>
                          <option value="1" <%= product.body === 1 ? 'selected' : '' %>>On Process</option>
                          <option value="2" <%= product.body === 2 ? 'selected' : '' %>>Delayed</option>
                          <option value="3" <%= product.body === 3 ? 'selected' : '' %>>Finished</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="elektroplating">Elektroplating</label>
                        <select class="form-select" id="elektroplating" name="elektroplating" required>
                          <option value="1" <%= product.elektroplating === 1 ? 'selected' : '' %>>On Process</option>
                          <option value="2" <%= product.elektroplating === 2 ? 'selected' : '' %>>Delayed</option>
                          <option value="3" <%= product.elektroplating === 3 ? 'selected' : '' %>>Finished</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="isi">Isi</label>
                        <select class="form-select" id="isi" name="isi" required>
                          <option value="1" <%= product.isi === 1 ? 'selected' : '' %>>On Process</option>
                          <option value="2" <%= product.isi === 2 ? 'selected' : '' %>>Delayed</option>
                          <option value="3" <%= product.isi === 3 ? 'selected' : '' %>>Finished</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="rakit">Rakit</label>
                        <select class="form-select" id="rakit" name="rakit" required>
                          <option value="1" <%= product.rakit === 1 ? 'selected' : '' %>>On Process</option>
                          <option value="2" <%= product.rakit === 2 ? 'selected' : '' %>>Delayed</option>
                          <option value="3" <%= product.rakit === 3 ? 'selected' : '' %>>Finished</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="qc">QC</label>
                        <select class="form-select" id="qc" name="qc" required>
                          <option value="1" <%= product.qc === 1 ? 'selected' : '' %>>On Process</option>
                          <option value="2" <%= product.qc === 2 ? 'selected' : '' %>>Delayed</option>
                          <option value="3" <%= product.qc === 3 ? 'selected' : '' %>>Finished</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="packing">Packing</label>
                        <select class="form-select" id="packing" name="packing" required>
                          <option value="1" <%= product.packing === 1 ? 'selected' : '' %>>On Process</option>
                          <option value="2" <%= product.packing === 2 ? 'selected' : '' %>>Delayed</option>
                          <option value="3" <%= product.packing === 3 ? 'selected' : '' %>>Finished</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary update-product" data-nomor_order="<%= product.nomor_order %>">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- / Content -->

        <!-- Footer -->
        <%- include('includes/footer.ejs') %>
        <!-- / Footer -->

        <div class=" content-backdrop fade">
        </div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>

  <!-- Drag Target Area To SlideIn Menu On Small Screens -->
  <div class="drag-target"></div>
</div>
<!-- / Layout wrapper -->

<%- include('includes/end.ejs') %>